gunicorn==20.0.4
itsdangerous==1.1.0
bert_extractive_summarizer==0.10.1
flashtext==2.7
Flask==2.2.3
Flask_Cors==3.0.10
flask_ngrok==0.0.25
nltk==3.8.1
pandas==1.5.3
pke==2.0.0
pywsd==1.2.5
PyYAML==6.0
requests==2.28.2
sorcery==0.2.2
spacy==3.5.1
summarizer==0.0.7
torch==1.13.1+cpu
youtube_transcript_api==0.5.0
